[Unit]
Description=AMDGPU Control Daemon (via Flatpak)
After=multi-user.target

[Service]
Environment=FLATPAK_INSTALL_USER=tohur
Environment=VULKANINFO_COMMAND="sudo -u tohur -s flatpak run --filesystem=/tmp --command=vulkaninfo io.github.ilya_zlobintsev.LACT"
ExecStart=sh -c "eval $(sudo -u $FLATPAK_INSTALL_USER -s flatpak run --command=lact io.github.ilya_zlobintsev.LACT flatpak generate-daemon-cmd)"
Nice=-10
Restart=on-failure

[Install]
WantedBy=multi-user.target        
